/* Google Font Include */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #515A60;
    line-height: 24px;
    background-color: #FCFCFC;
}

html, body {
    height: 100%;
}

/* Google Font Include Class */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* **********************
       Common Style
*********************** */
p {
    margin: 0 0 15px;
}

.text-overflow-2l {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

a {
    text-decoration: none;
}

/* Image Overly Content */
.image-content-overly {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    align-items: end;
}

.image-content-overly::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    z-index: -1;
    background: linear-gradient(rgba(23, 34, 43, 0) 0%, #17222b 100%);
    opacity: .85;
}

.image-content-overly .image_inner_content {
    padding-left: 40px;
    padding-bottom: 21px;
    color: #fff;
    font-weight: 400;
    padding-right: 30px;
}

.image-content-overly .image_inner_content .post-meta .meta-categories a {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.image-content-overly .image_inner_content .post-meta .meta-date {
    padding-left: 32px;
    position: relative;
    font-size: 14px;
}

.image-content-overly .image_inner_content .post-meta .meta-date::before {
    position: absolute;
    content: '';
    left: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(40deg);
    width: 2px;
    height: 15px;
    background: #fff;
    border-radius: 30px;
}

.image-content-overly .image_inner_content .post-meta .meta-date {
    padding-left: 32px;
    position: relative;
    font-size: 14px;
    color: white;
}

.image-content-overly .image_inner_content .title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 3px;
    font-weight: 700;
    text-transform: capitalize;
}

.image-content-overly .image_inner_content .title a {
    color: #fff;
}

/* Image Overly Content Responsive */
@media only screen and (max-width: 767px) {
    .image-content-overly .image_inner_content .title {
        font-size: 28px;
        line-height: 28px;
    }
}

@media only screen and (max-width: 575px) {
    .image-content-overly .image_inner_content {
        padding-left: 15px;
        padding-bottom: 4px;
        padding-right: 15px;
    }

    .image-content-overly .image_inner_content .title,
    .image-content-overly .image_inner_content p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .image-content-overly .image_inner_content .title {
        font-size: 20px;
        line-height: 24px;
    }

    .image-content-overly .image_inner_content .post-meta .meta-categories a {
        font-size: 12px;
    }
}

/* Meta Post */
.post-meta .meta-categories a {
    color: #1091FF;
    font-weight: 500;
    font-size: 12px;
}

.post-meta .meta-date {
    padding-left: 32px;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #515A60;
}

.post-meta .meta-date::before {
    position: absolute;
    content: '';
    left: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(40deg);
    width: 2px;
    height: 15px;
    background: #515A60;
    border-radius: 30px;
}

.mo-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.mo-title a {
    color: #17222B;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .post-meta .meta-date span {
        white-space: nowrap;
    }
}

.section-title {
    margin-bottom: 15px;
}

.section-title .title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

/* Flash Icon */
.flash-icon {
    height: 30px;
    width: 30px;
    background: #FF5555;
    color: #fff;
    line-height: 30px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
}

/* **********************
         Header
*********************** */
/* Header Topper */
.header-topbar {
    border-bottom: 1px dashed #DCDEDF;
}

.topbar-trending > span {
    float: left;
    background: #FF5555;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 18px;
}

.topbar-trending .trending-slider .trending-item {
    margin-left: 90px;
}

.topbar-trending .trending-slider .trending-item p {
    margin-bottom: 0;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 400;
}

.header-topbar .topbar-social p {
    margin-bottom: 0;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
}

.header-topbar .topbar-social .social ul {
    margin: 0;
    padding: 0 0 0 14px;
    list-style-type: none;
    position: relative;
}

.topbar-social .social ul::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(23, 34, 43, 0.3);
    width: 1px;
    height: 14px;
}

.header-topbar .topbar-social .social ul li a {
    color: rgba(23, 34, 43, 0.75);
    margin-left: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.header-topbar .topbar-social .social ul li {
    display: inline-block;
}

/* Header Top Slider */
.topbar-trending .trending-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    border: 1px solid rgba(23, 34, 43, 0.25);
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    background: #fff;
    color: rgb(0 0 0 / 25%);
}

.topbar-trending .trending-slider .slick-prev.slick-arrow {
    right: 25px;
}

.topbar-trending .trending-slider .slick-next.slick-arrow {
    right: 0;
}

/* Header Top Responsive */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-topbar .topbar-social p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-topbar .topbar-social {
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .topbar-trending .trending-slider .trending-item p {
        font-size: 13px;
    }

    .topbar-trending .trending-slider .slick-arrow {
        display: none !important;
    }

    .header-topbar .topbar-social {
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 575px) {
    .header-topbar {
        display: none;
    }
}

/* Header Centerbar Responsive */
@media only screen and (max-width: 991px) {
    .header-centerbar .logo {
        text-align: center;
        padding-bottom: 5px;
    }
}

/* Header Menu Bar */
.header-menu-rightbar {
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-menu-search ul li a {
     font-size: 18px;
     color: rgba(23, 34, 43, 0.5);
     margin: 7px;
 }

.select-item {
    border: 0;
    border-left: 1.5px solid rgba(23, 34, 43, 0.3);
    border-right: 1.5px solid rgba(23, 34, 43, 0.3);
    border-radius: 0;
    height: 25px;
    margin-left: 20px;
    line-height: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.select-item select {
    word-wrap: normal;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    color: #515a60;
    padding-right: 5px;
}

.header-temperature .icon {
    padding-left: 13px;
    padding-right: 13px;
}

.header-temperature .temperature-content .title {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}

.header-temperature .temperature-content p {
    margin-bottom: 0;
}

.header-temperature .temperature-content .title sup {
    font-size: 14px;
}

.header-temperature .temperature-content .title sup sub {
    font-size: 14px;
}

/* Header Menubar Responsive */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .select-item {
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header-menu-search > ul {
        display: flex;
    }

    .header-temperature .temperature-content p {
        width: 100px;
    }
}

@media only screen and (max-width: 575px) {
    .header-temperature {
        display: none !important;
    }
}

/* **********************
     Post Area Section
*********************** */
.post-area {
    padding-top: 30px;
    padding-bottom: 40px;
}

.single__post {
    padding: 0 10px;
}

.single__post .post-content .title a {
    color: #17222B;
}

.single__post .post-content .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 5px;
}

.post-slider .slick-arrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    background: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    box-shadow: -16px 8px 17px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

@media only screen and (max-width: 767px) {
    .post-area .single__post {
        text-align: center;
        display: block !important;
    }

    .post-area .single__post .flex-shrink-0 {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
    }

    .single__post {
        padding: 0;
    }

    .post-area .post-content {
        margin: 0 !important;
    }
}

/* **********************
  Post Gallery Carousel
*********************** */

.post-gallery .slider-nav {
    display: flex;
    margin-top: -7px;
    justify-content: center;
}

.post-gallery .slider-nav img {
    /*width: 80px;*/
}

.post-gallery .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 30px;
    background: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 70px;
    box-shadow: -16px 8px 17px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 99999;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.post-gallery .prev.slick-arrow {
    left: 0;
}

.post-gallery .next.slick-arrow {
    right: 0;
}

/* Post Gallery Item */
.post-gallery .post_gallery_items .gallery_item {
    margin-bottom: 30px;
}

.post-gallery .post_gallery_items .gallery_item.gallery_item::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    border-bottom: 1px dashed #DADCDD;
    width: 100%;
}

.post-meta .meta-categories a {
    color: #1091FF;
    font-weight: 500;
    font-size: 12px;
}

.post-meta .meta-date {
    padding-left: 32px;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #515A60;
}

.post-meta .meta-date::before {
    position: absolute;
    content: '';
    left: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(40deg);
    width: 2px;
    height: 15px;
    background: #515A60;
    border-radius: 30px;
}

.mo-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.mo-title a {
    color: #17222B;
}

/* Post Nav Item */
.post-gallery .nav .nav-link {
    background: #fff;
    box-shadow: 0px 10px 40px rgba(23, 34, 43, 0.1);
    padding: 0 30px;
    line-height: 36px;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(23, 34, 43, 0.85);
}

.post-gallery .nav .nav-link.active {
    background: #1091FF;
}

/* Post Nav Item Responsive */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .post-gallery .nav .nav-link {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 991px) {
    .post-gallery .nav {
        margin-top: 25px;
        justify-content: center !important;
    }
}

@media only screen and (max-width: 575px) {
    .post-gallery .nav {
        margin-top: 15px;
    }
    .post-gallery .nav .nav-link {
        padding: 0 20px;
    }
}

/* *********************
     Feature Post Area
*********************** */
.feature-post-slider .image-content-overly .image_inner_content .title {
    font-size: 16px;
    line-height: 20px;
}

.feature-post-slider .image-content-overly .image_inner_content {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.feature-post-slider .slick-arrow {
    position: absolute;
    top: -46px;
    z-index: 9;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border: 2px solid #C1C4C6;
    font-size: 20px;
    color: #C1C4C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-post-slider .prev.slick-arrow {
    right: 50px;
}

.feature-post-slider .next.slick-arrow {
    right: 10px;
}

/* Feature post responsive */
@media only screen and (max-width: 575px) {
    .section-title .title {
        font-size: 20px;
        margin-bottom: -5px;
    }
}

/* *********************
      Trending News
 ********************* */
.trending-news .trending-news-slider img {
    border-radius: 8px;
    transform: scale(1);
    transition: 0.4s all ease-in-out;
}

.trending-news .trending-news-slider .image-content-overly {
    position: relative;
}

.trending-news .trending-news-slider .image-content-overly::before {
    display: none;
}

.trending-news .image-content-overly .image_inner_content .post-meta .meta-categories a {
    color: #1091FF;
}

.trending-news .image-content-overly .image_inner_content .post-meta .meta-date {
    color: #515A60;
}

.trending-news .image-content-overly .image_inner_content .post-meta .meta-date::before {
    background: #B7BABD;
}

.trending-news .image-content-overly .image_inner_content .title {
    line-height: 22px;
}

.trending-news .image-content-overly .image_inner_content .title a {
    color: #17222B;
    font-size: 20px;
}

.trending-news .image-content-overly .image_inner_content p {
    color: #32373b;
}

.trending-news .image-content-overly .image_inner_content {
    padding: 0;
}

.trending-news-slider .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
}

.trending-news .news-item:hover img {
    transform: scale(1.1);
}

.trending-news .slick-arrow {
    position: absolute;
    top: -46px;
    z-index: 9;
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 27px;
    border: 2px solid #C1C4C6;
    font-size: 20px;
    color: #C1C4C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-news .prev.slick-arrow {
    right: 50px;
}

.trending-news .next.slick-arrow {
    right: 10px;
}