body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #515A60;
    line-height: 24px;
}

html, body {
    height: 100%;
}

/* Google Font Include */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* **********************
       Common Style
*********************** */
p {
    margin: 0 0 15px;
}

/* **********************
         Header
*********************** */
/* Header Topper */
.header-topbar {
    border-bottom: 1px dashed #DCDEDF;
}

.topbar-trending > span {
    float: left;
    background: #FF5555;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 18px;
}

.topbar-trending .trending-slider .trending-item {
    margin-left: 90px;
}

.topbar-trending .trending-slider .trending-item p {
    margin-bottom: 0;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 400;
}

.header-topbar .topbar-social p {
    margin-bottom: 0;
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
}

.header-topbar .topbar-social .social ul {
    margin: 0;
    padding: 0 0 0 14px;
    list-style-type: none;
    position: relative;
}

.topbar-social .social ul::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(23, 34, 43, 0.3);
    width: 1px;
    height: 14px;
}

.header-topbar .topbar-social .social ul li a {
    color: rgba(23, 34, 43, 0.75);
    margin-left: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.header-topbar .topbar-social .social ul li {
    display: inline-block;
}

/* Header Top Slider */
.topbar-trending .trending-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    border: 1px solid rgba(23, 34, 43, 0.25);
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    background: #fff;
    color: rgb(0 0 0 / 25%);
}

.topbar-trending .trending-slider .slick-prev.slick-arrow {
    right: 25px;
}

.topbar-trending .trending-slider .slick-next.slick-arrow {
    right: 0px;
}

/* Header Top Responsive */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header-topbar .topbar-social p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-topbar .topbar-social {
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 767px) {
    .topbar-trending .trending-slider .trending-item p {
        font-size: 13px;
    }

    .topbar-trending .trending-slider .slick-arrow {
        display: none !important;
    }

    .header-topbar .topbar-social {
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 575px) {
    .header-topbar {
        display: none;
    }
}